.btn 
	+nosel
	display: inline-block
	vertical-align: top
	line-height: 1
	outline: none
	cursor: poiner
	position: relative
	border: 2px solid $text
	font-size: 16px;
	font-weight: 700
	text-align: center
	text-transform: uppercase
	color: $buttontext
	transition: color .3s, border-color .3s
	padding-top: 20px
	padding-bottom: 20px
	+padlr(20px)
	letter-spacing: 2.5px
	min-width: 180px
	z-index: 0
	+r(640)
		min-width: 145px
		+padlr(15px)
		padding-top: 15px
		padding-bottom: 15px
		font-size: 14px
	&:after
		content: ''
		display: inline-block
		+coverdiv
		z-index: -1
		background-color: $active
		+tr(transform .3s)
		transform: scaleX(0) scaleY(1)
		transform-origin: right center
	&:hover
		+notouch
			border-color: $active
			color: $white
			&:after
				transform: scaleX(1) scaleY(1)
				transform-origin: left center
	&:active
		color: $white
		border-color: $active
		background-color: $active
		transition-duration: 0s


	