.contacts 
	padding-bottom: 30px
	a 
		display: block
		font-weight: 400
		padding-top: 6px
		padding-bottom: 5.5px
		color: $text
		line-height: 1.538;
		&:hover
			+notouch
				color: $active
		&:active
			color: $active
	&__head
		a
			font-weight: 700
			text-transform: uppercase
			margin-bottom: 12px
			font-size: 13px
	&__body
	&__text
		font-size: 14px
		line-height: 1.538;
		margin: 10px 0
		line-height: 1.429;
		color: $text
		&:first-child
			margin: 20px 0
		a 
			display: inline
			font-size: 14px
			word-break: break-word
			
