.page__footer
	margin-top: 120px
	+r(1024)
			margin-top: 80px
	+r(640)	
		margin-top: 40px
	.container
		// max-width: 1150px
		display: flex
		flex-flow: row wrap
		align-items: center
		justify-content: flex-end
.footer-container
	background-color: $graybg
	padding-bottom: 20px
	padding-top: 50px
	.container
		align-items: flex-start
.footer-footer
	background-color: $footerFooterbg
	+r(640)
		padding-top: 15px
		padding-bottom: 15px
		.container
			flex-flow: column-reverse nowrap
			justify-content: flex-start
	&__link
		padding-top: 10px
		padding-bottom: 10px
		color: $footerfootertext
		font-weight: 400
		margin-left: 36px
		font-size: 13px
		padding-top: 16px
		padding-bottom: 16px
		+r(640)
			padding-top: 10px
			padding-bottom: 10px
			margin-left: 0
			width: 100%
		a 
			color: $footerfootertext
			margin-left: 10px
			&:hover 
				+notouch
					color: $white
			&:active
				color: $white
				transition-duration: 0s
		&--copy
			margin-right: auto
			margin-left: 0
			
.footer
	&__nav
		width: 80%
		+r(1024)
			width: 60%
		+r(640)
			width: 100%
	&__contact
		width: 20%
		+r(1024)
			width: 40%
		+r(640)
			width: 100%
.footer-navlist
	display: flex
	flex-flow: row wrap
	align-items: flex-start

	&__item
		width: 25%
		padding-right: 15px
		padding-bottom: 30px
		+r(1024)
			width: 50%
		+r(640)
			// width: 100%
			padding-right: 0
	&__link
		display: block
		font-weight: 400
		padding-top: 6px
		padding-bottom: 5.5px
		color: $text
		font-size: 13px
		line-height: 1.538;
		&:hover
			+notouch
				color: $active
		&:active
			color: $active
		&--primary
			font-weight: 700
			text-transform: uppercase
			margin-bottom: 12px
			


