$headertext: #222
.page__header
	position: fixed
	right: 0
	width: 100%
	top: 0
	z-index: 20
	// visibility: hidden
	height: 95px
	pointer-events: none
	will-change: transform, height
	transition: background-color .3s, height .2s ease-in-out
	&.is-fixed
		background-color: $white
		+rm(1025)
			height: 75px
			ul li a
				padding-top: 0px
	+r(640)
		background-color: $white
	a,ul
		pointer-events: all
	+r(1024)
		height: 75px
	+r(640)
		height: 70px
.header-inner
	display: flex
	height: 100%
	flex-flow: row nowrap
	justify-content: space-between
	max-width: 1760px
	padding-left: 60px
	padding-right: 17px
	margin: 0 auto
	flex-grow: 1
	width: 100%
	align-items: stretch
	+r(1024)
		padding-left: 30px
		padding-right: 30px
	+r(640)
		padding-left: 20px
		padding-right: 20px
	.Logo 
		color: $headertext
		display: flex
		align-items: center
		font-size: 24px
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 1.35px
		white-space: nowrap
		+r(1024)
			font-size: 20px
		+r(640)
			font-size: 0
			b 
				font-size: 16px
			margin-right: 10px
		&:hover
			+notouch
				span
					&:after
						+tr(transform .35s ease-in-out)
						transform: translateX(100%)
		span 
			position: relative
			overflow: hidden
			&:after
				display: inline-block
				-webkit-transform-style: preserve-3d;
				content: ''
				background-color: $headertext
				position: absolute;
				left: 0
				top: 0
				width: 100%
				height: 100%
				transform: translateX(-100%)
				

.header
	&__nav
		display: flex
		align-items: stretch
		overflow: hidden
		flex-grow: 0
		max-width: 70%
		+r(640)
			margin-right: -20px
		ul
			display: flex 
			white-space: nowrap
			flex-flow: row nowrap
			width: 100%
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			li 
				display: flex
				align-items: stretch
				a 
					+padlr(28px)
					display: flex
					align-items: center
					font-weight: 600
					text-transform: uppercase
					font-size: 13px
					line-height: 1.538;
					color: $headertext
					letter-spacing: -.25px
					position: relative
					overflow: hidden
					transition: color .3s, padding-top .2s ease-in-out
					span
						white-space: nowrap
					+r(1200)
						+padlr(18px)
					+r(640)
						+padlr(10px)
					+rm(1025)
						padding-top: 10px
					&:after
						display: inline-block
						content: ''
						background-color: $graybg
						position: absolute;
						left: 0
						top: 0
						width: 100%
						height: 100%
						transform: scaleY(0) scaleX(1)
						transform-origin: top center
						+tr(transform .35s ease-in-out)
						z-index: -1
					&:hover
						+notouch
							color: $active
							&:after
								transform-origin: bottom center
								transform: scaleY(1) scaleX(1)
					&:active
							color: $active