.intro 
	height: 100vh
	overflow: hidden
	width: 100%
	background-color: $text
	+r(640)
		max-height: 540px
	&__container
		width: 100%
		height: 100%
		position: relative
	&__slidewrap
		+coverdiv
	&__slide
		position: absolute
		right: 0
		top: 0
		height: 100%
		width: 100%
		z-index: 0
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		background-color: $graybg
		transition-delay: 1s
		transition: clip-path 0s 1s cubic-bezier(.19,1,.22,1)
		will-change: clip-path
		contain: paint
		&:nth-child(even)
			background-color: $text
			.intro__slide-title
				color: $white
		&--active
			z-index: 1
			transition-delay: .1s
			clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
			transition: clip-path 1.5s cubic-bezier(.19,1,.22,1)
			
			.intro__slide-text
				opacity: 1
				transform: none
				transition: transform 1.1s .1s cubic-bezier(.19,1,.22,1) , opacity 1.1s
			.intro__slide-img
				img 
					opacity: 1
					transform: none
					transition: transform 1.1s .1s cubic-bezier(0.18, 0.7, 0.26, 0.91), opacity 1.1s
		&-inner
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			+vertical
		&-img 
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			height: 100%
			img 
				height: 100%
				display: block
				margin-left: 15%
				object-fit: cover
				// opacity: 0
				transform: scale(1.25) translateX(20%)
				transition: transform 0s 1s, opacity 0s 1s
				// will-change: transform
		&-title
			// font-size: 450px;
			+css-lock(40,450,320,2000,font-size,px)	
			color: $title
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.2;
			text-align: center;
			display: inline-block
			vertical-align: middle
			position: relative
			z-index: 1
		&-text
			opacity: 0
			transform: translateX(20%)
			transition: transform 0s 1s, opacity 0s 1s
			+css-lock(20,50,320,2000,letter-spacing,px)	
	&__nav
		position: absolute
		bottom: 10%
		right: 20%
		z-index: 3
		+r(640)
			bottom: 0
			left: 0
			right: 0
			text-align: center
			background-color: $white
			padding-top: 10px
		// mix-blend-mode: multiply
		// mix-blend-mode: luminocity
	&__navitem
		font-size: 13px
		display: inline-block
		vertical-align: middle
		height: 40px
		border: 2px solid $footerFooterbg
		color: $footerFooterbg
		text-transform: uppercase
		font-weight: 700
		padding-left: 20px
		padding-right: 20px
		transition: background .3s, border-color .3s
		// background: $white
		&:hover
			+notouch
				background: $white 
				border-color: $white 
		&:active
			border-color: $white 
			transition-duration: 0s
		&:first-child
			border-right: 0
		// background-color: $white


