.look 
	width: 100%	
	overflow: hidden
	&__container
		margin-left: -15px
		margin-right: -15px
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-itemns: stretch
	&__item
		width: 33.33%
		+padlr(15px)
		flex-basis: 450px
		flex-grow: 1
.look-item
	display: flex
	align-items: stretch
	&__inner
		background-color: $graybg
		// background-color: red
		display: flex
		align-items: stretch
		justify-content: center
		padding-left: 25px
		padding-right: 9%
		width: 100%
		padding-top: 40px
		+r(640)
			padding-left: 20px
			padding-right: 20px
	&__center
		display: flex
		align-items: stretch
		justify-content: center
		max-width: 575px
		width: 100%
		position: relative

	&__img 
		width: 40%
		img 
			width: 100%
			height: 100%
			object-fit: contain
			object-position: right bottom
		+r(640)
			position: absolute
			bottom: 0
			left: 20px
			opacity: .4
			height: 100%
	&__content
		width: 60%
		text-align: right
		padding-top: 50px
		padding-bottom: 50px
		+r(640)
			width: 100%
			z-index: 1
			position: relative
			padding-top: 25px
			padding-bottom: 45px
		
	&__title
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.125;
		text-align: right;
		// font-size: 48px
		color: $title
		font-weight: 400
		letter-spacing: 1px
		margin-bottom: 15px
		+css-lock(25,48,640,1920,font-size,px)	
		b 
			display: block
			
	&__text
		color: $text
		font-size: 15px;
		line-height: 1.467;
		text-align: right;
	&__button
		margin-top: 30px




