.product 
	transition-delay: .15s
	&:hover
		transition-delay: 0s	
		z-index: 1
	&__inner
			width: 100%	
			height: 100%	
			position: relative

	&__link
		display: block
		width: 100%	
		height: 100%
		+tr(filter .3s)
		will-change: filter
		&:hover
			+notouch
				filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.14))
				.product__content
					opacity: 1	
					pointer-events: all
				img 
					transform: scale(1.1)
	&__img
		position: relative
		width: 100%	
		height: 100%
		overflow: hidden
		
		img 
			width: 100%	
			height: 100%	
			object-fit: cover
			+tr(transform .3s ease-in-out)
	&__price
		position: absolute
		left: 12px	
		top: 11px	
		z-index: 1
		&-item
			font-size: 21px;
			color: $graytext
			text-transform: uppercase;
			vertical-align: super;
			line-height: 1.2;
			text-align: left;
			font-weight: 400	
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			letter-spacing: .6px
			&:not(:only-child):first-child
				position: relative
				&:after
					content: ''
					display: inline-block
					height: 1px	
					width: calc(100% - 10px)	
					position: absolute
					right: 0px	
					top: 50%
					background-color: $graytext
			sup
				font-size: 13px	
				vertical-align: super;
	&__content
		position: absolute
		top: 100%	
		left: 0	
		width: 100%	
		background-color: $white
		text-align: center
		font-weight: 400
		z-index: 1	
		padding: 15px	15px 40px
		opacity: 0	
		pointer-events: none
		+tr(opacity .3s)
	&__title
		font-size: 13px;
		text-transform: uppercase;
		line-height: 1.538;
		text-align: center;
		color: $title

		&:not(:only-child)
				margin-bottom: 10px	
	&__descr
		font-size: 13px	
		color: $text
		line-height: 1.467;
		letter-spacing: -.5px	
		+padlr(10px)



	
