.products 
	margin-bottom: 60px	
	margin-top: 60px	
	+r(640)
		margin-bottom: 30px	
		margin-top: 30px	
	.container
		max-width: 1890px	
		padding-top: 53px	
		padding-bottom: 63px	
		border-top: 1px	solid $bordercolor
		border-bottom: 1px	solid $bordercolor
		+r(640)
			padding-top: 20px	
			padding-bottom: 30px		
	&__grid
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		// grid-auto-rows: repeat(12, 0.098fr)
		// grid-auto-rows: 0.098fr
		+css-lock(40,75,740,1890,grid-auto-rows,px)	
		height: 100%
		width: 100%
		+r(1200)
			grid-gap: 20px;
		+r(1024)
			grid-gap: 10px;
		+r(740)
			display: block
				
	&__card
		background-color: $graybg
		grid-column: span 1;
		grid-row: span 5;
		+r(740)
			margin-top: 15px	
			margin-bottom: 15px	
	
		&.primary
			grid-column: span 2;
			grid-row: span 7;
	&__filter
		margin-bottom: 45px	
		margin-left: -20px
		overflow: hidden
		+r(640)
			margin-right: -15px
			margin-bottom: 10px	
		&-inner
			white-space: nowrap
			overflow-x: auto
			overflow-y: visible
			
		&-item
				font-size: 13px;
				text-transform: uppercase;
				line-height: 1.538;
				font-weight: 700
				color: $text
				+tr(color .3s)
				+padlr(20px)
				margin-right: 30px
				padding-top: 10px
				padding-bottom: 10px
				+r(1024)
					margin-right: 10px
				+r(640)
					margin-right: 0
					padding-right: 0px
					padding-bottom: 20px
					&:last-child
						padding-right: 15px
				&--active
					color: $active

