$colors: (
	brand: #c22e34,
	brandh: #981917,
	grayh: #f6f6f6,
	graya: #efefef,
	text: #262626,
	captionupper: #555555,
	caption: #959595,
	bread: #b1b1b1, 
	white: #fff,
	line: #d8d8d8,
	headerSublinks: #dfdfdf,
);
:root {
  // each item in color map
  @each $name, $color in $colors {
    --color-#{$name}: $color;
  }
}
@function color($color-name) {
  @return var(--color-#{$color-name});
}

