$r: 'Montserrat', sans-serif;

$white: #fff;
$title: #575153;
$text: #727272;
$graytext: #9a9a9a;
$graybg: #f8f8f8;
$active: #00c8c8;
$footerFooterbg: #333333;
$footerfootertext: #777777;
$bordercolor: #eeeeee
$buttontext: #454647
