@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important; } }

input[type='number'] {
  -moz-appearance: textfield; }

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="password"] {
  font: small-caption;
  line-height: 1.65; }

input {
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 16px; }
  input::placeholder {
    font-family: "Montserrat", sans-serif; }
  input::-ms-clear {
    display: none; }

svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%; }

button {
  background: 0 0; }

a {
  text-decoration: none;
  transition: color .3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none; }
  *::placeholder {
    font-family: "Montserrat", sans-serif; }
  *::selection {
    background-color: color(brand);
    color: color(white);
    opacity: 1; }

textarea {
  resize: none; }
  textarea::placeholder {
    font-family: "Montserrat", sans-serif; }

ul li > a {
  display: inline-block;
  width: 100%; }

img {
  display: block;
  max-width: 100%; }

a {
  color: #727272;
  transition: color .25s; }
  a:active {
    transition-duration: 0s; }

button {
  font-family: "Montserrat", sans-serif; }

html {
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (max-width: 1094px) {
    html {
      font-size: 15px; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  min-width: 320px; }
  body.modal_open {
    position: fixed; }

.page__wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100%;
  width: 100%; }

.page__outer {
  width: 100%;
  display: block;
  height: 100%; }

.page__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  visibility: visible; }

.page__footer {
  position: relative;
  flex: 0 0 auto;
  flex-flow: row wrap; }

.page__content {
  flex: 1 0 auto;
  width: 100%;
  font-size: 0; }

b {
  font-weight: 700; }

.page__header {
  position: fixed;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 20;
  height: 95px;
  pointer-events: none;
  will-change: transform, height;
  transition: background-color .3s, height .2s ease-in-out; }
  .page__header.is-fixed {
    background-color: #fff; }
    @media only screen and (min-width: 1025px) {
      .page__header.is-fixed {
        height: 75px; }
        .page__header.is-fixed ul li a {
          padding-top: 0px; } }
  @media only screen and (max-width: 640px) {
    .page__header {
      background-color: #fff; } }
  .page__header a, .page__header ul {
    pointer-events: all; }
  @media only screen and (max-width: 1024px) {
    .page__header {
      height: 75px; } }
  @media only screen and (max-width: 640px) {
    .page__header {
      height: 70px; } }

.header-inner {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1760px;
  padding-left: 60px;
  padding-right: 17px;
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  align-items: stretch; }
  @media only screen and (max-width: 1024px) {
    .header-inner {
      padding-left: 30px;
      padding-right: 30px; } }
  @media only screen and (max-width: 640px) {
    .header-inner {
      padding-left: 20px;
      padding-right: 20px; } }
  .header-inner .Logo {
    color: #222;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    white-space: nowrap; }
    @media only screen and (max-width: 1024px) {
      .header-inner .Logo {
        font-size: 20px; } }
    @media only screen and (max-width: 640px) {
      .header-inner .Logo {
        font-size: 0;
        margin-right: 10px; }
        .header-inner .Logo b {
          font-size: 16px; } }
    @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
      .header-inner .Logo:hover span:after {
        transition: transform 0.35s ease-in-out;
        transform: translateX(100%); } }
    .header-inner .Logo span {
      position: relative;
      overflow: hidden; }
      .header-inner .Logo span:after {
        display: inline-block;
        -webkit-transform-style: preserve-3d;
        content: '';
        background-color: #222;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%); }

.header__nav {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  flex-grow: 0;
  max-width: 70%; }
  @media only screen and (max-width: 640px) {
    .header__nav {
      margin-right: -20px; } }
  .header__nav ul {
    display: flex;
    white-space: nowrap;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .header__nav ul li {
      display: flex;
      align-items: stretch; }
      .header__nav ul li a {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1.538;
        color: #222;
        letter-spacing: -.25px;
        position: relative;
        overflow: hidden;
        transition: color .3s, padding-top .2s ease-in-out; }
        .header__nav ul li a span {
          white-space: nowrap; }
        @media only screen and (max-width: 1200px) {
          .header__nav ul li a {
            padding-left: 1.125rem;
            padding-right: 1.125rem; } }
        @media only screen and (max-width: 640px) {
          .header__nav ul li a {
            padding-left: 0.625rem;
            padding-right: 0.625rem; } }
        @media only screen and (min-width: 1025px) {
          .header__nav ul li a {
            padding-top: 10px; } }
        .header__nav ul li a:after {
          display: inline-block;
          content: '';
          background-color: #f8f8f8;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transform: scaleY(0) scaleX(1);
          transform-origin: top center;
          transition: transform 0.35s ease-in-out;
          z-index: -1; }
        @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
          .header__nav ul li a:hover {
            color: #00c8c8; }
            .header__nav ul li a:hover:after {
              transform-origin: bottom center;
              transform: scaleY(1) scaleX(1); } }
        .header__nav ul li a:active {
          color: #00c8c8; }

.page__footer {
  margin-top: 120px; }
  @media only screen and (max-width: 1024px) {
    .page__footer {
      margin-top: 80px; } }
  @media only screen and (max-width: 640px) {
    .page__footer {
      margin-top: 40px; } }
  .page__footer .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end; }

.footer-container {
  background-color: #f8f8f8;
  padding-bottom: 20px;
  padding-top: 50px; }
  .footer-container .container {
    align-items: flex-start; }

.footer-footer {
  background-color: #333333; }
  @media only screen and (max-width: 640px) {
    .footer-footer {
      padding-top: 15px;
      padding-bottom: 15px; }
      .footer-footer .container {
        flex-flow: column-reverse nowrap;
        justify-content: flex-start; } }
  .footer-footer__link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777777;
    font-weight: 400;
    margin-left: 36px;
    font-size: 13px;
    padding-top: 16px;
    padding-bottom: 16px; }
    @media only screen and (max-width: 640px) {
      .footer-footer__link {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
        width: 100%; } }
    .footer-footer__link a {
      color: #777777;
      margin-left: 10px; }
      @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
        .footer-footer__link a:hover {
          color: #fff; } }
      .footer-footer__link a:active {
        color: #fff;
        transition-duration: 0s; }
    .footer-footer__link--copy {
      margin-right: auto;
      margin-left: 0; }

.footer__nav {
  width: 80%; }
  @media only screen and (max-width: 1024px) {
    .footer__nav {
      width: 60%; } }
  @media only screen and (max-width: 640px) {
    .footer__nav {
      width: 100%; } }

.footer__contact {
  width: 20%; }
  @media only screen and (max-width: 1024px) {
    .footer__contact {
      width: 40%; } }
  @media only screen and (max-width: 640px) {
    .footer__contact {
      width: 100%; } }

.footer-navlist {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }
  .footer-navlist__item {
    width: 25%;
    padding-right: 15px;
    padding-bottom: 30px; }
    @media only screen and (max-width: 1024px) {
      .footer-navlist__item {
        width: 50%; } }
    @media only screen and (max-width: 640px) {
      .footer-navlist__item {
        padding-right: 0; } }
  .footer-navlist__link {
    display: block;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 5.5px;
    color: #727272;
    font-size: 13px;
    line-height: 1.538; }
    @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
      .footer-navlist__link:hover {
        color: #00c8c8; } }
    .footer-navlist__link:active {
      color: #00c8c8; }
    .footer-navlist__link--primary {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 12px; }

.contacts {
  padding-bottom: 30px; }
  .contacts a {
    display: block;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 5.5px;
    color: #727272;
    line-height: 1.538; }
    @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
      .contacts a:hover {
        color: #00c8c8; } }
    .contacts a:active {
      color: #00c8c8; }
  .contacts__head a {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 13px; }
  .contacts__text {
    font-size: 14px;
    line-height: 1.538;
    margin: 10px 0;
    line-height: 1.429;
    color: #727272; }
    .contacts__text:first-child {
      margin: 20px 0; }
    .contacts__text a {
      display: inline;
      font-size: 14px;
      word-break: break-word; }

.intro {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: #727272; }
  @media only screen and (max-width: 640px) {
    .intro {
      max-height: 540px; } }
  .intro__container {
    width: 100%;
    height: 100%;
    position: relative; }
  .intro__slidewrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .intro__slide {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    background-color: #f8f8f8;
    transition-delay: 1s;
    transition: clip-path 0s 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: clip-path;
    contain: paint; }
    .intro__slide:nth-child(even) {
      background-color: #727272; }
      .intro__slide:nth-child(even) .intro__slide-title {
        color: #fff; }
    .intro__slide--active {
      z-index: 1;
      transition-delay: .1s;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      transition: clip-path 1.5s cubic-bezier(0.19, 1, 0.22, 1); }
      .intro__slide--active .intro__slide-text {
        opacity: 1;
        transform: none;
        transition: transform 1.1s 0.1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1.1s; }
      .intro__slide--active .intro__slide-img img {
        opacity: 1;
        transform: none;
        transition: transform 1.1s 0.1s cubic-bezier(0.18, 0.7, 0.26, 0.91), opacity 1.1s; }
    .intro__slide-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      font-size: 0; }
      .intro__slide-inner:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%; }
    .intro__slide-img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .intro__slide-img img {
        height: 100%;
        display: block;
        margin-left: 15%;
        object-fit: cover;
        transform: scale(1.25) translateX(20%);
        transition: transform 0s 1s, opacity 0s 1s; }
    .intro__slide-title {
      font-size: 450px;
      font-size: calc(40px + (450 - 40) * ((100vw - 320px) / (2000 - 320)));
      color: #575153;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1; }
      @media (max-width: 320px) {
        .intro__slide-title {
          font-size: 40px; } }
      @media (min-width: 2000px) {
        .intro__slide-title {
          font-size: 450px; } }
    .intro__slide-text {
      opacity: 0;
      transform: translateX(20%);
      transition: transform 0s 1s, opacity 0s 1s;
      letter-spacing: 50px;
      letter-spacing: calc(20px + (50 - 20) * ((100vw - 320px) / (2000 - 320))); }
      @media (max-width: 320px) {
        .intro__slide-text {
          letter-spacing: 20px; } }
      @media (min-width: 2000px) {
        .intro__slide-text {
          letter-spacing: 50px; } }
  .intro__nav {
    position: absolute;
    bottom: 10%;
    right: 20%;
    z-index: 3; }
    @media only screen and (max-width: 640px) {
      .intro__nav {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fff;
        padding-top: 10px; } }
  .intro__navitem {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    border: 2px solid #333333;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    transition: background .3s, border-color .3s; }
    @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
      .intro__navitem:hover {
        background: #fff;
        border-color: #fff; } }
    .intro__navitem:active {
      border-color: #fff;
      transition-duration: 0s; }
    .intro__navitem:first-child {
      border-right: 0; }

.products {
  margin-bottom: 60px;
  margin-top: 60px; }
  @media only screen and (max-width: 640px) {
    .products {
      margin-bottom: 30px;
      margin-top: 30px; } }
  .products .container {
    max-width: 1890px;
    padding-top: 53px;
    padding-bottom: 63px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
    @media only screen and (max-width: 640px) {
      .products .container {
        padding-top: 20px;
        padding-bottom: 30px; } }
  .products__grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 75px;
    grid-auto-rows: calc(40px + (75 - 40) * ((100vw - 740px) / (1890 - 740)));
    height: 100%;
    width: 100%; }
    @media (max-width: 740px) {
      .products__grid {
        grid-auto-rows: 40px; } }
    @media (min-width: 1890px) {
      .products__grid {
        grid-auto-rows: 75px; } }
    @media only screen and (max-width: 1200px) {
      .products__grid {
        grid-gap: 20px; } }
    @media only screen and (max-width: 1024px) {
      .products__grid {
        grid-gap: 10px; } }
    @media only screen and (max-width: 740px) {
      .products__grid {
        display: block; } }
  .products__card {
    background-color: #f8f8f8;
    grid-column: span 1;
    grid-row: span 5; }
    @media only screen and (max-width: 740px) {
      .products__card {
        margin-top: 15px;
        margin-bottom: 15px; } }
    .products__card.primary {
      grid-column: span 2;
      grid-row: span 7; }
  .products__filter {
    margin-bottom: 45px;
    margin-left: -20px;
    overflow: hidden; }
    @media only screen and (max-width: 640px) {
      .products__filter {
        margin-right: -15px;
        margin-bottom: 10px; } }
    .products__filter-inner {
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: visible; }
    .products__filter-item {
      font-size: 13px;
      text-transform: uppercase;
      line-height: 1.538;
      font-weight: 700;
      color: #727272;
      transition: color 0.3s;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px; }
      @media only screen and (max-width: 1024px) {
        .products__filter-item {
          margin-right: 10px; } }
      @media only screen and (max-width: 640px) {
        .products__filter-item {
          margin-right: 0;
          padding-right: 0px;
          padding-bottom: 20px; }
          .products__filter-item:last-child {
            padding-right: 15px; } }
      .products__filter-item--active {
        color: #00c8c8; }

.product {
  transition-delay: .15s; }
  .product:hover {
    transition-delay: 0s;
    z-index: 1; }
  .product__inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .product__link {
    display: block;
    width: 100%;
    height: 100%;
    transition: filter 0.3s;
    will-change: filter; }
    @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
      .product__link:hover {
        filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.14)); }
        .product__link:hover .product__content {
          opacity: 1;
          pointer-events: all; }
        .product__link:hover img {
          transform: scale(1.1); } }
  .product__img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .product__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out; }
  .product__price {
    position: absolute;
    left: 12px;
    top: 11px;
    z-index: 1; }
    .product__price-item {
      font-size: 21px;
      color: #9a9a9a;
      text-transform: uppercase;
      vertical-align: super;
      line-height: 1.2;
      text-align: left;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      letter-spacing: .6px; }
      .product__price-item:not(:only-child):first-child {
        position: relative; }
        .product__price-item:not(:only-child):first-child:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: calc(100% - 10px);
          position: absolute;
          right: 0px;
          top: 50%;
          background-color: #9a9a9a; }
      .product__price-item sup {
        font-size: 13px;
        vertical-align: super; }
  .product__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-weight: 400;
    z-index: 1;
    padding: 15px	15px 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .product__title {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.538;
    text-align: center;
    color: #575153; }
    .product__title:not(:only-child) {
      margin-bottom: 10px; }
  .product__descr {
    font-size: 13px;
    color: #727272;
    line-height: 1.467;
    letter-spacing: -.5px;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

.look {
  width: 100%;
  overflow: hidden; }
  .look__container {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-itemns: stretch; }
  .look__item {
    width: 33.33%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    flex-basis: 450px;
    flex-grow: 1; }

.look-item {
  display: flex;
  align-items: stretch; }
  .look-item__inner {
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-left: 25px;
    padding-right: 9%;
    width: 100%;
    padding-top: 40px; }
    @media only screen and (max-width: 640px) {
      .look-item__inner {
        padding-left: 20px;
        padding-right: 20px; } }
  .look-item__center {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 575px;
    width: 100%;
    position: relative; }
  .look-item__img {
    width: 40%; }
    .look-item__img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right bottom; }
    @media only screen and (max-width: 640px) {
      .look-item__img {
        position: absolute;
        bottom: 0;
        left: 20px;
        opacity: .4;
        height: 100%; } }
  .look-item__content {
    width: 60%;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media only screen and (max-width: 640px) {
      .look-item__content {
        width: 100%;
        z-index: 1;
        position: relative;
        padding-top: 25px;
        padding-bottom: 45px; } }
  .look-item__title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.125;
    text-align: right;
    color: #575153;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 48px;
    font-size: calc(25px + (48 - 25) * ((100vw - 640px) / (1920 - 640))); }
    @media (max-width: 640px) {
      .look-item__title {
        font-size: 25px; } }
    @media (min-width: 1920px) {
      .look-item__title {
        font-size: 48px; } }
    .look-item__title b {
      display: block; }
  .look-item__text {
    color: #727272;
    font-size: 15px;
    line-height: 1.467;
    text-align: right; }
  .look-item__button {
    margin-top: 30px; }

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  outline: none;
  cursor: poiner;
  position: relative;
  border: 2px solid #727272;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #454647;
  transition: color .3s, border-color .3s;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: 2.5px;
  min-width: 180px;
  z-index: 0; }
  @media only screen and (max-width: 640px) {
    .btn {
      min-width: 145px;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px; } }
  .btn:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00c8c8;
    transition: transform 0.3s;
    transform: scaleX(0) scaleY(1);
    transform-origin: right center; }
  @media not all and (-moz-touch-enabled: 1), not all and (pointer: coarse), not all and (-ms-high-contrast: none) and (max-width: 600px) {
    .btn:hover {
      border-color: #00c8c8;
      color: #fff; }
      .btn:hover:after {
        transform: scaleX(1) scaleY(1);
        transform-origin: left center; } }
  .btn:active {
    color: #fff;
    border-color: #00c8c8;
    background-color: #00c8c8;
    transition-duration: 0s; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding-left: 3.75rem;
  padding-right: 3.75rem; }
  @media only screen and (max-width: 1024px) {
    .container {
      padding-left: 1.875rem;
      padding-right: 1.875rem; } }
  @media only screen and (max-width: 640px) {
    .container {
      padding-left: 1.25rem;
      padding-right: 1.25rem; } }
