@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700')

@import helpers/all


input[type='number']
	-moz-appearance: textfield;
input[type='submit']
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none;
input[type="password"]
	font: small-caption
	line-height: 1.65
input
	box-shadow : none
	font-family: $r
	color: #000
	font-size: 16px
	+placeholder 
		font-family: $r
	&::-ms-clear
		display: none;
svg
	display: inline-block
	max-width: 100%
	max-height: 100%
button
	background: 0 0
a
	text-decoration: none
	transition: color .3s
	+nosel
*
	+box
	-webkit-tap-highlight-color: transparent
	-webkit-user-drag: none;
	+placeholder 
		font-family: $r
	&::selection 
		background-color: color(brand)
		color: color(white)
		opacity: 1
textarea
	resize: none
	+placeholder 
		font-family: $r
ul
	li>a 
		display: inline-block
		width: 100%
img 
	display: block
	max-width: 100%
a 
	color: $text
	transition: color .25s
	&:hover
	&:active
		transition-duration: 0s

	// &:not([class])
	// 	+boxshadow
button
	font-family: $r
html
	font-size: 16px
	line-height: 1
	// overflow-x: hidden
	width: 100%
	height: 100%
	-webkit-text-size-adjust: none
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	+r(1094)
		font-size: 15px
body
	font-family: $r
	font-weight: 400
	width: 100%
	height: 100%
	// font-variant-numeric: lining-nums
	min-width: 320px
	&.modal_open
		position: fixed


.page
	&__wrapper
		display: flex
		flex-wrap: nowrap
		flex-direction: column
		min-height: 100%
		width: 100%
	&__outer
		width: 100%
		display: block
		height: 100%
	&__header
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		position: relative
		visibility: visible

	&__footer
		position: relative
		flex: 0 0 auto
		flex-flow: row wrap
	&__content
		flex: 1 0 auto
		width: 100%
		font-size: 0
b
	font-weight: 700
@import components/all

.container
	margin: 0 auto
	width: 100%
	max-width: 1300px
	+padlr(60px)
	+r(1024)
		+padlr(30px)
	+r(640)
		+padlr(20px)
